<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wax.mapper.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.wax.entity.AdminUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="passWord" column="pass_word" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,pass_word
    </sql>

    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_admin_user where user_name = #{username}
    </select>
</mapper>
